*{
	margin: 0;
	padding: 0;
}
body{
  font-family: "Raleway","Source+Sans+Pro";
  overflow-x: hidden;
  overflow-y: scroll;
}


/*       header bar    */

.head-beep{
	margin-top: 20px;
	margin-left: 110px;
}

.head-beep i{
	position: absolute;
	font-size: 45px;
	
	font-weight: lighter;
	
}

.head-beep h1{
	position: relative;
     text-transform: lowercase;
	 font-size: 40px;
	 text-align: right;
	 font-weight: lighter;
	 margin-top: 50px;
	 font-style: normal;
	 margin-right: 80%;
}

/*     profile icon     */
.profile{
	margin-top: 45px;
	margin-left: 80px;
}

.profile i{
	position: absolute;
	font-size: 30px;
	text-align: left;
	font-weight: lighter;
	cursor: pointer;
}
.profile p{
	position: relative;
     text-transform: lowercase;
	 font-size: 15px;
	 text-align: right;
	 margin-right: 30%;
	 font-weight: lighter;
	  cursor: pointer;
	 font-style: italic;
}

/*    cart icon    */

.cart{
	margin-top: 45px;
}
.cart i {
	position: absolute;
	font-size: 30px;
	text-align: left;
	font-weight: lighter;
	cursor: pointer;
}
.cart h1{
	position: relative;
     text-transform: lowercase;
	 font-size: 19px;
	 text-align: right;
	 margin-right: 30%;
	 font-weight: lighter; 
	 font-style: italic;
}



/*      search icon    */

.search{
	margin-top: 45px;
}
.search i{
	position: absolute;
	font-size: 30px;
	text-align: center;
	font-weight: lighter;
	cursor: pointer;

}

/*      home      */
.home a{
	font-size:36px;
	font-weight: bold;
}


/*   category     */
.carousel-inner img {
	margin-top: 34px; 
	width: 100%;
	border-radius: 15px; 
	height: 50px;
	
	
	 
}
.category h1{
	font-size: 27px;
	font-weight: bolder;
	margin-left: 5px;
	margin-top: 34px;	
}

.category h3{
	text-align: left;
	color :darkblue;
}
.category hr{
	width:23%;
	text-align:left;
	color:cornsilk;
	margin-left:0;
	height: 10px;
}
.category a {
	margin-left: 15px;
	font-size: 23px;
	line-height: 1.6;
	font-weight: 600;
}
.nams {
	background-color: #CBF3EB;
	border-radius: 10px;
}
 
.horz-page{
	border-radius: 10px;
	background-color:mediumturquoise;
}
.horz-page ul{
	text-align: center;
	margin-left:35%;
}

/*      for column 3      */

/*      price   */
.rt {
	background-color: #CBF3EB;	
	margin-top: 28px;
	border-radius: 10px; 
}

.rt  h1{
	padding-top: 19px;
	font-size: 17px;
	font-weight: 800;
	text-align: left;
	margin-left: 10px;
}
.rt pre{
	font-size: 21px;
	font-weight: 600;
}
.rt1{
	margin-left: 10%;
	font-weight: 600;
	margin-bottom: 2%;
	font-size: 18px;
}
.rt2{
	
	font-size: 18px;
	
	font-weight: 600;
}

/*   color section     */
.cl{
	background-color:#CBF3EB;
	border-radius: 10px;
}
.cl h1{
	font-weight: 600;
	font-size: 20px;
	margin-left: 12%;
	padding-top: 18px;
	padding-bottom: 12px;
}
/* 
.cl .button1 {
	background-color: #4CAF50;
	border-radius: 90%;	
	padding: 15px;
	margin: 4px 2px;
	cursor: pointer;
}
.cl .button2 {
	background-color:blue;
	border-radius: 90%;	
	padding: 15px;
	margin: 4px 2px;
	cursor: pointer;
}
.cl .button3 {
	background-color:red;
	border-radius: 90%;	
	padding: 15px;
	margin: 4px 2px;
	cursor: pointer;
}
.cl .button4 {
	background-color:yellow;
	border-radius: 90%;	
	padding: 15px;
	margin: 4px 2px;
	cursor: pointer;
}

.cl .button5 {
	background-color:black;
	border-radius: 90%;	
	padding: 15px;
	margin: 4px 2px;
	cursor: pointer;
} */

.point {
	/* background-color: lawngreen; */
	margin-left: 30px;
	margin-top: -5px;
}
.point .input{
	margin-top: 100px;
	padding: 40px;
}
.red{
	color:red;
}
/*    brand section   */
.brand{
	background-color: #CBF3EB;
	border-radius: 10px;
}
.brand h1{
	font-weight: 600;
	font-size: 20px;
	margin-left: 12%;
	padding-top: 18px;
	padding-bottom: 12px;
}
.brand pre{ 
	font-size: 18px;
	font-weight: 500;
	color: blue;
	margin-bottom: 0px;
}

.brand pre:hover{
	color: blue;
	font-weight: bold;
}

/*    more section    */

.more{
	background-color:#CBF3EB;
	border-radius: 10px;
}

.more h1{
	font-size: 24px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.more h1:hover{
	background-color: chocolate;
	border-radius: 10px;
}
/*     for column 9     */
.navvv{
	text-align: left;
	margin-left: 22px;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 600;
	background-color: #CBF3EB;
	border-radius: 10px;
}
.navvv div{
	width: 35px;
	height: 5px;
	background-color:rgb(233, 180, 180);
	margin: 6px;
	margin-left: 90%;
}
.navvv select{
	margin-top: 12px;
	font-weight: 600;
	background-color: cornsilk;
	border-radius: 6px;
}

/*      product section    */
.product {
	
	padding: 40px;
    border: 3px solid #CBF3EB;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	cursor: pointer;
	border-radius: 10px;
	height:370px;
	width: 250px;

}

.product:hover{
	background-color: #eef2f8;
}
.product h2{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.product h2:hover{
	font-weight: bolder;
	color:blue;
}
.product p{
	font-weight: 600;
	font-size:18px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.product u{
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
    color: #878787;
}
.checked{
	color:orange;
	
}
.product span{
	margin-top: 11px;
	margin-left: 8px;
} 
.product img {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	border-radius: 15px;
	padding-bottom: 5%;
	width: 150px;
	height:150px;
}

/* bottom page number bar  */
.page-num{
	background-color: plum;
}
.page-num li{
	display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}


/*     horizontal line   1  */

.line1 hr{
	width: 90%;
	text-align: left;
	margin-left: 60px;
	margin-top: 150px;
}


/*       horizintal line 2 */
.line2 hr{
	width: 90%;
	text-align: left;
	margin-left: 60px;
	margin-top: 70px;
}



/*     bottom section   */

/*     beep section     */
.beep{
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 36px;
}
.beep h1{
	position: relative;
     text-transform: lowercase;
	 font-size: 40px;
	 text-align: right;
	 margin-top: 5px;
	 font-style: italic;
	 margin-right: 50%;
}
.beep i{
	position: absolute;
	font-size: 52px;
}
.beep p{
	margin-top: 34px;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.8;
}


/*       follow us    */


.follow {
	margin-top: 55px;
	margin-right: 30px;
	margin-left: 36px;
}
.follow h3{
	font-size: 25px;
	font-style: initial;
	font-weight: 800;
}
.follow p{
	margin-top: 34px;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.8;
}
.follow a{
    font-size: 30px;
	margin-top: 30px;

}


/*      contact    */

.contact{
	margin-top: 55px;
	margin-left: 36px;
}
.contact h3{
	font-size: 25px;
	font-style: initial;
	font-weight: 800;
}
.contact p{
	margin-top: 34px;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.8;
}


/*       footer section    */

 

/*      card section   */
.card{
	text-align: right;
	font-size: 22px;
}